PORT=3000
PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=dummy-user-data

# Redis Cache Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
CACHE_TTL=60
# Or full Redis URL:
# REDIS_URL=redis://localhost:6379
